html, body {
    height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Text colours */
.cs-dark {
  color: #313d4c;
}
.cs-blue {
  color: #1BB8D1;
}
.cs-yellow {
  color: #FCC018;
}
.cs-pink {
  color: #E71A64;
}
/* Background colours */
.cs-dark-bg {
  color: white;
  background-color: #313d4c !important;
}
.cs-blue-bg {
  color: white;
  background-color: #1BB8D1 !important;
}
.cs-yellow-bg {
  color: white;
  background-color: #FCC018 !important;
}
.cs-pink-bg {
  color: white;
  background-color: #E71A64 !important;
}

h1 {
  margin-top: 24px;
  margin-bottom: 24px;
}

ul.dot-points {
  list-style: disc;
  padding-left: 24px;
}
ul.dot-points li {
  list-style: disc;
}

.anchor {
  display: block;
  position: relative;
  top: -72px;
  visibility: hidden;
}

.pad-bottom {
  padding-bottom: 1em;
}

header {
  background-image: url('../images/header_bg.jpg');
  background-size: cover;
  background-position: center bottom;
  padding: 30px;
  color: white;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
}
header.header-home {
  padding-top: 80px;
  padding-bottom: 80px;
}

header .container {
  z-index: 1;
  left: 0;
  right: 0;
}

.header-text {
  line-height: 80%;
}

#logo {
  padding: 10px;
  display: inline;
  position: absolute;
}

.header-down-arrow {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.header-down-arrow i {
  padding-bottom: 0.7rem;
  font-size: 6rem;
  opacity: 0.4;
  transition: all 400ms ease-in;
}
.header-down-arrow i:hover {
  transition: all 400ms ease-out;
  cursor: pointer;
  padding-bottom: 0;
  opacity: 1;
}

.search-results a {
  color: rgba(0,0,0,0.87) !important;
  display: block;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 16px 10px;
  height: auto;
}
.search-results a:hover {
  background-color: rgba(0,0,0,0.05);
}
.search-results a.focused {
  background-color: #eee;
  outline: none;
}

.material-icons.heading-icon,
.fa.heading-icon {
  vertical-align: bottom;
  font-size: inherit;
  width: 3rem;
}

form ul {
  padding-left: 1rem;
}

ul.side-nav li.logo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
#slide-out li.search .search-wrapper {
    margin: 0 12px 30px;
}
#slide-out li.search .search-wrapper input#search {
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: calc(100% - 57px);
    height: 45px;
    margin: 0;
    padding: 0 45px 0 15px;
    border: 0;
}
#slide-out li.search .search-wrapper #search:focus {
  outline: none;
  box-shadow: none;
}
#slide-out li.search .search-wrapper i.material-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

ul.side-nav li.logo a {
  height: 80px;
}
ul.side-nav li.logo a:hover {
  background-color: transparent;
}

.brand-logo {
  transition: all 400ms ease-in-out;
  left: 0;
}
.brand-logo.with-logo {
  left: 54px;
}

@media only screen and (max-width: 992px) {
  .brand-logo.with-logo {
    left: 50%;
  }
}

.navbar-fixed {
  z-index: 997;
  flex: 0 0 auto;
}

nav {
  background: #313d4c;
}
nav .button-collapse i {
  font-size: 2.7rem;
}

.fixed {
  background-attachment: fixed;
  min-height: 100%;
  height: auto;
}

.header-banner h1 {
  margin: 0;
}

.navbar-csclub {
  border-radius: 0px;
  margin-bottom: 0px;
  height: 80px;
}

.section {
  position: relative;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  font-weight: 300;
}
.section .row {
  margin-bottom: 0;
}
.section h1 {
  font-size: 8rem;
  margin-bottom: 0;
}
.section h1::before {
  font-family: 'FontAwesome';
  padding-right: 0.5rem;
}

.section-header,
.section-footer,
.section-banner {
  padding: 1rem 0;
}
.section-header strong,
.section-footer strong,
.section-banner strong {
  color: #313d4c;
}
.section-header.default,
.section-footer.default,
.section-banner.default {
  background-color: #efefef;
}

.section-header {
  margin-top: -1rem;
}
.section-footer {
  margin-top: 1rem;
  margin-bottom: -1rem;
}

#learn h1 {
  color: #1BB8D1;
}
#learn h1::before {
  content: '\f19d';
}

#socialise h1 {
  color: #FCC018;
}
#socialise h1::before {
  content: '\f0c0';
}

#code h1 {
  color: #E71A64;
}
#code h1::before {
  content: '\f121';
}

#join h1 {
  color: #313d4c;
}

#learn .section-footer {
  color: white;
  background-color: #1BB8D1;
  padding: 1rem 0
}
#socialise .section-footer {
  color: white;
  background-color: #FCC018;
  padding: 1rem 0
}
#code .section-footer {
  color: white;
  background-color: #E71A64;
  padding: 1rem 0
}

.committee-members .card-title {
  line-height: 1.5 !important;
}

.search-wrapper {
    margin: 1em 0 30px;
}
.search-wrapper input.search {
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: calc(100% - 57px);
    height: 45px;
    margin: 0;
    padding: 0 45px 0 15px;
    border: 0;
}
.search-wrapper input.search:focus {
  outline: none;
  box-shadow: none;
  border-bottom: none;
}
.search-wrapper i.material-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.collapsible .collapsible-section-header {
  background-color: #eee;
  color: #313d4c;
  padding: 15px 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
  border-bottom: 1px solid rgba(160,160,160,0.2);
  border-top: 1px solid rgba(160,160,160,0.2);
}

footer {
  color: #7a7f85;
  padding: 30px 0 15px;
  background-color: #313d4c;
}
footer h1,
footer h2,
footer h3,
footer h4,
footer h5 {
  color: #adb0b4;
}
footer a {
  color: #adb0b4;
  transition: color .3s;
}
footer a:hover {
  color: white;
}

footer .search-wrapper {
  display: none;
}
.search-wrapper .search-title,
.search-wrapper .search-body,
.search-wrapper .search-href {
  display: block;
}
.search-wrapper .search-body {
  font-size: 12px;
  line-height: 1.5em;
  color: #888;
}
.search-wrapper .search-title {
  line-height: 1.5em;
}
.search-wrapper .search-href {
  font-size: 12px;
  line-height: 1.5em;
}

.social-icons {
  font-size: 36px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.invisible {
  visibility: hidden;
}

.typed-button {
  transition: all 400ms ease-in-out;
  height: auto;
  line-height: initial;
  color: white;
}
.typed-button.btn {
  background-color: #1BB8D1;
  padding: 0.2rem 1.5rem 0.5rem;
  margin-top: 15px;
  font-weight: 400;
  font-size: 120%;
}

.card .card-header {
  position: relative;
  background-color: inherit;
  border-bottom: 1px solid rgba(160,160,160,0.2);
  padding: 24px;
}
.card .card-section .card-section-header {
  background-color: #eee;
  color: #313d4c;
  padding: 15px 24px;
  margin-left: -24px;
  margin-right: -24px;
  border-bottom: 1px solid rgba(160,160,160,0.2);
  border-top: 1px solid rgba(160,160,160,0.2);
}
.card .card-section:first-child .card-section-header {
  border-top: none;
}

.card .card-section .card-section-header h4 {
  margin: 0;
}

.toast {
  -webkit-justify-content: initial;
  -ms-flex-pack: justify;
  justify-content: initial;
}
.toast .material-icons {
  margin-right: 0.82rem;
}

.input-field .prefix {
  line-height: inherit;
}

.input-field.inline {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

#loading {
  padding-left: 15px;
  display: inline-block;
}
#loading > .preloader-wrapper {
  vertical-align: middle;
}

.required::after {
  display: inline-block !important;
  content: "*" !important;
  color: #E71A64 !important;
  padding-left: 0.5rem !important;
  padding-left: 0.5rem !important;
  opacity: 1 !important;
  top: 0 !important;
}
.required-section::after {
  content: "*";
  color: #E71A64;
  padding-left: 0.5rem;
}

.invalid-bg {
  background-color: #fff1f1;
  padding: 1rem;
}

#join-form .card .card-content .card-section .row {
  margin-top: 0.82rem;
}
#join-form .card .card-content .card-section .row h5 {
  margin-top: 0;
}
#join-form .card .card-content .card-section .row ~ .row {
  margin-top: 0;
}
#join-form .card .card-content .card-section .row ~ .row h5 {
  margin-top: 0.82rem;
}

@media only screen and (min-width: 420px) {
  .input-field.inline input[type="text"] {
    width: 250px;
  }
}

.input-field.inline.inline-radio,
.input-field.inline.inline-checkbox {
  margin: 0;
  vertical-align: baseline;
  margin-left: 5px;
}
.input-field.inline.inline-radio input,
.input-field.inline.inline-checkbox input {
  height: 1.5rem;
  margin: 0;
}

.row.degree-options .col p:last-child {
  margin-bottom: 24px;
}

@media only screen and (max-width: 600px) {
  .input-group .input-field.prefixed ~ .input-field:not(.prefixed) input,
  .input-group .input-field.prefixed ~ .input-field:not(.prefixed) textarea,
  .input-group .input-field.prefixed ~ .input-field:not(.prefixed) label,
  .input-group .input-field.prefixed ~ .input-field:not(.prefixed) .validate ~ label,
  .input-group .input-field.prefixed ~ .input-field:not(.prefixed) .autocomplete-content {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
  }

  .input-group .input-field.prefixed ~ .input-field:not(.prefixed) label {
    margin-left: 3rem;
  }
  .input-group .input-field.prefixed ~ .input-field:not(.prefixed) input {
    width: 80%;
    width: calc(100% - 3rem);
  }
}


/* SECTIONS */
@media only screen and (min-width: 360px) {
  .section h1 {
    font-size: 3rem;
  }
  #join h1 {
    font-size: 2.5rem;
  }
  .header-text {
    font-size: 1.6rem;
    height: calc(1.6rem * 4);
  }
}

@media only screen and (min-width: 390px) {
  .section h1 {
    font-size: 3.25rem;
  }
  #join h1 {
    font-size: 2.7rem;
  }
  .header-text {
    font-size: 1.67rem;
    height: calc(1.67rem * 4);
  }
}

@media only screen and (min-width: 420px) {
  .section h1 {
    font-size: 3.5rem;
  }
  #join h1 {
    font-size: 2.9rem;
  }
  .header-text {
    font-size: 1.74rem;
    height: calc(1.74rem * 4);
  }
}

@media only screen and (min-width: 450px) {
  .section h1 {
    font-size: 3.75rem;
  }
  #join h1 {
    font-size: 3.2rem;
  }
  .header-text {
    font-size: 1.81rem;
    height: calc(1.81rem * 4);
  }
}

@media only screen and (min-width: 480px) {
  .section h1 {
    font-size: 4rem;
  }
  #join h1 {
    font-size: 3.4rem;
  }
  .header-text {
    font-size: 1.88rem;
    height: calc(1.88rem * 4);
  }
}

@media only screen and (min-width: 510px) {
  .section h1 {
    font-size: 4.25rem;
  }
  #join h1 {
    font-size: 3.6rem;
  }
  .header-text {
    font-size: 1.95rem;
    height: calc(1.95rem * 4);
  }
}

@media only screen and (min-width: 540px) {
  .section h1 {
    font-size: 4.5rem;
  }
  #join h1 {
    font-size: 3.8rem;
  }
  .header-text {
    font-size: 2.02rem;
    height: calc(2.02rem * 4);
  }
}

@media only screen and (min-width: 570px) {
  .section h1 {
    font-size: 4.75rem;
  }
  #join h1 {
    font-size: 4.1rem;
  }
  .header-text {
    font-size: 2.09rem;
    height: calc(2.09rem * 4);
  }
}

@media only screen and (min-width: 600px) {
  .section h1 {
    font-size: 5rem;
  }
  .header-text {
    font-size: 2.16rem;
    height: calc(2.16rem * 4);
  }
}

@media only screen and (min-width: 630px) {
  .section h1 {
    font-size: 5.25rem;
  }
  #join h1 {
    font-size: 4.3rem;
  }
  .header-text {
    font-size: 2.23rem;
    height: calc(2.23rem * 4);
  }
}

@media only screen and (min-width: 660px) {
  .section h1 {
    font-size: 5.5rem;
  }
  #join h1 {
    font-size: 4.5rem;
  }
  .header-text {
    font-size: 2.3rem;
    height: calc(2.3rem * 4);
  }
}

@media only screen and (min-width: 690px) {
  .section h1 {
    font-size: 5.75rem;
  }
  #join h1 {
    font-size: 4.7rem;
  }
  .header-text {
    font-size: 2.37rem;
    height: calc(2.37rem * 4);
  }
}

@media only screen and (min-width: 720px) {
  .section h1 {
    font-size: 6rem;
  }
  #join h1 {
    font-size: 4.9rem;
  }
  .header-text {
    font-size: 2.44rem;
    height: calc(2.44rem * 4);
  }
}

@media only screen and (min-width: 750px) {
  .section h1 {
    font-size: 6.25rem;
  }
  #join h1 {
    font-size: 5.1rem;
  }
  .header-text {
    font-size: 2.51rem;
    height: calc(2.51rem * 4);
  }
}

@media only screen and (min-width: 780px) {
  .section h1 {
    font-size: 6.5rem;
  }
  #join h1 {
    font-size: 5.3rem;
  }
  .header-text {
    font-size: 2.58rem;
    height: calc(2.58rem * 4);
  }
}

@media only screen and (min-width: 810px) {
  .section h1 {
    font-size: 6.75rem;
  }
  #join h1 {
    font-size: 5.4rem;
  }
  .header-text {
    font-size: 2.65rem;
    height: calc(2.65rem * 4);
  }
}

@media only screen and (min-width: 840px) {
  .section h1 {
    font-size: 7rem;
  }
  #join h1 {
    font-size: 5.5rem;
  }
  .header-text {
    font-size: 2.72rem;
    height: calc(2.72rem * 4);
  }
}

@media only screen and (min-width: 870px) {
  .section h1 {
    font-size: 7.25rem;
  }
  #join h1 {
    font-size: 5.9rem;
  }
  .header-text {
    font-size: 2.79rem;
    height: calc(2.79rem * 4);
  }
}

@media only screen and (min-width: 900px) {
  .section h1 {
    font-size: 7.5rem;
  }

  #join h1 {
    font-size: 6.1rem;
  }
  .header-text {
    font-size: 2.86rem;
    height: calc(2.86rem * 4);
  }
}

@media only screen and (min-width: 930px) {
  .section h1 {
    font-size: 7.75rem;
  }
  #join h1 {
    font-size: 6.4rem;
  }
  .header-text {
    font-size: 2.93rem;
    height: calc(2.93rem * 4);
  }
}

@media only screen and (min-width: 960px) {
  .section h1 {
    font-size: 8rem;
  }
  #join h1 {
    font-size: 6.6rem;
  }
  .header-text {
    font-size: 3rem;
    height: calc(3rem * 4);
  }
}

@media only screen and (min-width: 993px) {
  footer .search-wrapper {
    display: block;
  }
  #join h1 {
    font-size: 7.75vw;
  }
}
@media only screen and (min-width: 1500px) {
  #join h1 {
    font-size: 8rem;
  }
}


@media only screen and (max-width: 420px) {
  .header-text {
    line-height: 110%;
  }
  .home .section,
  footer {
    text-align: center;
  }
}
@media only screen and (max-width: 360px) {
  .section h1 {
    font-size: 3rem;
  }
  .header-text {
    font-size: 1.2rem;
    height: calc(1.2rem * 4);
    line-height: 120%;
  }
  #join h1 {
    font-size: 2.25rem;
  }

  .about form .card-header {
    padding: 10px;
  }
}
@media screen and (max-height: 575px){
  #rc-imageselect, .g-recaptcha {
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }
}

#signin {
  float:right;
  top:20%;
}

.fix_receipt main {
  margin-top: 10rem;
}

.fix_receipt .preloader-wrapper {
  margin: 0 auto;
  display: block;
}