/* Color schemes
 * *****************
 * dark = #313d4c
 * blue = #1bb8d1
 * yellow = #fcc018
 * pink = #e71a64
 */


html, body {
    height: 100%;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

header {
  background-image: url('../images/header_bg.jpg');
  background-size: cover;
  background-position: center bottom;
  /*background-attachment: fixed;*/
  padding: 30px;
  padding-top: 80px;
  color: white;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  min-height: 80%;
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
}

header .container {
  /*position: fixed;*/
  z-index: 1;
  left: 0;
  right: 0;
}

#logo {
  padding: 10px;
  display: inline;
  position: absolute;
}

.brand-logo {
  transition: all 400ms ease-in-out;
  left: 0;
}
.brand-logo.with-logo {
  left: 54px;
}

@media only screen and (max-width: 992px) {
  .brand-logo.with-logo {
    left: 50%;
  }
}

.navbar-fixed {
  z-index: 997;
  /*height: 0;*/
}

nav {
  background: #313d4c;
  /*box-shadow: none;*/
}

.section {
  /*position: relative;*/
  /*color: white;*/
  /*padding: 30px 0px;*/
  padding-top: 0;
  min-height: 100%;
  /*box-shadow: 0px -2px 50px rgba(0, 0, 0, 0.8);*/
}

.fixed {
  background-attachment: fixed;
  min-height: 100%;
  height: auto;
}

.header-banner {
  color: white;
  z-index: 2;
}
.header-banner h1 {
  margin: 0;
}

#learn .header-banner {
  /*background-color: #1BB8D1;*/
}
#learn.section {
  background-image: url('../images/learn2.jpg');
  background-size: cover;
  background-position: center;
  background-color: #1BB8D1;
  background-blend-mode: soft-light;
}

#socialise .header-banner {
}
#socialise.section {
  background-image: url('../images/socialise.jpg');
  background-size: cover;
  background-position: center;
  background-color: #FCC018;
  background-blend-mode: soft-light;
}

#code .header-banner {
}
#code.section {
  background-image: url('../images/code1.jpg');
  background-size: cover;
  background-position: center;
  background-color: #E71A64;
  background-blend-mode: soft-light;
}

.navbar-csclub {
  /*background-color: #313d4c;*/
  /*background-color: rgba(255,255,255,0.03);*/
  /*background-color: rgba(49, 61, 76, 0.8);*/
  /*border: none !important;*/
  /*border-bottom: 1px solid rgba(255,255,255,0.1) !important;*/
  border-radius: 0px;
  margin-bottom: 0px;
  height: 80px;
}