/* Color schemes
 * *****************
 * dark = #313d4c
 * blue = #1bb8d1
 * yellow = #fcc018
 * pink = #e71a64
 */


html, body {
    height: 100%;
}

header {
    background-image: url('../images/header_bg.jpg');
    background-position: bottom;
    padding: 30px;
    padding-top: 80px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.section {
    color: white;
    padding: 30px 0px;
    height: 100%;
}

#learn {
    /*color: #1BB8D1;*/
    background-color: #1BB8D1;
}

#socialise {
    /*color: #FCC018;*/
    background-color: #FCC018;
}

#code {
    /*color: #E71A64;*/
    background-color: #E71A64;
}

.navbar-csclub {
  /*background-color: #313d4c;*/
  /*background-color: rgba(255,255,255,0.03);*/
  /*border: none !important;*/
  /*border-bottom: 1px solid rgba(255,255,255,0.1) !important;*/
  border-radius: 0px !important;
  margin-bottom: 0px !important;
}
.navbar-csclub .navbar-brand {
  color: #e7e7e7;
  /*color: #313d4c;*/
}
.navbar-csclub .navbar-brand:hover,
.navbar-csclub .navbar-brand:focus {
  color: #a2b0c3;
  background-color: transparent;
}
.navbar-csclub .navbar-text {
  color: #e7e7e7;
}
.navbar-csclub .navbar-nav {
  float: right;
}
.navbar-csclub .navbar-nav > li > a {
  color: #e7e7e7;
  /*color: #313d4c;*/
}
.navbar-csclub .navbar-nav > li > a:hover,
.navbar-csclub .navbar-nav > li > a:focus {
  background-color: rgba(255,255,255,0.05);
}
.navbar-csclub .navbar-nav > .active > a,
.navbar-csclub .navbar-nav > .active > a:hover,
.navbar-csclub .navbar-nav > .active > a:focus {
  color: #e7e7e7;
  background-color: rgba(255,255,255,0.03);
}
.navbar-csclub .navbar-nav > .disabled > a,
.navbar-csclub .navbar-nav > .disabled > a:hover,
.navbar-csclub .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-csclub .navbar-toggle {
  border-color: #ddd;
}
.navbar-csclub .navbar-toggle:hover,
.navbar-csclub .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-csclub .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-csclub .navbar-collapse,
.navbar-csclub .navbar-form {
  border-color: #e7e7e7;
}
.navbar-csclub .navbar-nav > .open > a,
.navbar-csclub .navbar-nav > .open > a:hover,
.navbar-csclub .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-csclub .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-csclub .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-csclub .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-csclub .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-csclub .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-csclub .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e7e7e7;
    background-color: #28313e;
  }
  .navbar-csclub .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-csclub .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-csclub .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-csclub .navbar-link {
  color: #777;
}
.navbar-csclub .navbar-link:hover {
  color: #333;
}
.navbar-csclub .btn-link {
  color: #777;
}
.navbar-csclub .btn-link:hover,
.navbar-csclub .btn-link:focus {
  color: #333;
}
.navbar-csclub .btn-link[disabled]:hover,
fieldset[disabled] .navbar-csclub .btn-link:hover,
.navbar-csclub .btn-link[disabled]:focus,
fieldset[disabled] .navbar-csclub .btn-link:focus {
  color: #ccc;
}