/* Color schemes
 * *****************
 * dark = #313d4c
 * blue = #1bb8d1
 * yellow = #fcc018
 * pink = #e71a64
 */


html, body {
    height: 100%;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

header {
  background-image: url('../images/header_bg.jpg');
  background-size: cover;
  background-position: center bottom;
  /*background-attachment: fixed;*/
  padding: 30px;
  padding-top: 80px;
  color: white;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  min-height: 80%;
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
}

header .container {
  /*position: fixed;*/
  z-index: 1;
  left: 0;
  right: 0;
}

#logo {
  padding: 10px;
  display: inline;
  position: absolute;
}

ul.side-nav li.logo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
#slide-out li.search .search-wrapper {
    margin: 0 12px 30px;
}
#slide-out li.search .search-wrapper input#search {
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: calc(100% - 57px);
    height: 45px;
    margin: 0;
    padding: 0 45px 0 15px;
    border: 0;
}
#slide-out li.search .search-wrapper #search:focus {
  outline: none;
  box-shadow: none;
}
#slide-out li.search .search-wrapper i.material-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

ul.side-nav li.logo a {
  height: 80px;
}
ul.side-nav li.logo a:hover {
  background-color: transparent;
}

.brand-logo {
  transition: all 400ms ease-in-out;
  left: 0;
}
.brand-logo.with-logo {
  left: 54px;
}

@media only screen and (max-width: 992px) {
  .brand-logo.with-logo {
    left: 50%;
  }
}

.navbar-fixed {
  z-index: 997;
  /*height: 0;*/
}

nav {
  background: #313d4c;
  /*box-shadow: none;*/
}

.section {
  /*position: relative;*/
  /*color: white;*/
  /*padding: 30px 0px;*/
  padding-bottom: 0;
  /*min-height: 100%;*/
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  font-weight: 300;
}

.fixed {
  background-attachment: fixed;
  min-height: 100%;
  height: auto;
}

.header-banner {
}
.header-banner h1 {
  margin: 0;
}

.navbar-csclub {
  /*background-color: #313d4c;*/
  /*background-color: rgba(255,255,255,0.03);*/
  /*background-color: rgba(49, 61, 76, 0.8);*/
  /*border: none !important;*/
  /*border-bottom: 1px solid rgba(255,255,255,0.1) !important;*/
  border-radius: 0px;
  margin-bottom: 0px;
  height: 80px;
}
.section .row {
  margin-bottom: 0;
}
.section h1 {
  font-size: 8rem;
  margin-bottom: 0;
}
.section h1::before {
  font-family: 'FontAwesome';
  padding-right: 0.5rem;
}

#learn h1 {
  color: #1BB8D1;
}
#learn h1::before {
  content: '\f19d';
}

#socialise h1 {
  color: #FCC018;
}
#socialise h1::before {
  content: '\f0c0';
}

#code h1 {
  color: #E71A64;
}
#code h1::before {
  content: '\f121';
}

.section-footer {
  color: white;
  font-size: 2rem;
  background-color: #888;
  padding: 1rem 0
}
#learn .section-footer {
  background-color: #1BB8D1;
  padding: 1rem 0
}
#socialise .section-footer {
  background-color: #FCC018;
  padding: 1rem 0
}
#code .section-footer {
  background-color: #E71A64;
  padding: 1rem 0
}

.search-wrapper {
    margin: 1em 0 30px;
}
.search-wrapper input.search {
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: calc(100% - 57px);
    height: 45px;
    margin: 0;
    padding: 0 45px 0 15px;
    border: 0;
}
.search-wrapper input.search:focus {
  outline: none;
  box-shadow: none;
  border-bottom: none;
}
.search-wrapper i.material-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

footer {
  color: #7a7f85;
  padding: 30px 0 15px;
  background-color: #313d4c;
}
footer h1, 
footer h2, 
footer h3, 
footer h4, 
footer h5 {
  /*color: white;*/
  color: #adb0b4;
}
footer a {
  color: #adb0b4;
  transition: color .3s;
}
footer a:hover {
  color: white;
}

.social-icons {
  font-size: 36px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.invisible {
  visibility: hidden;
}

.typed-button {
  transition: all 400ms ease-in-out;
  height: auto;
  line-height: initial;
}
.typed-button.btn {
  background-color: #1BB8D1;
  padding: 0.2rem 1.5rem 0.5rem;
  margin-top: 15px;
}

@media only screen and (min-width: 360px) {
  .section h1 {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 390px) {
  .section h1 {
    font-size: 3.25rem;
  }
}

@media only screen and (min-width: 420px) {
  .section h1 {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 450px) {
  .section h1 {
    font-size: 3.75rem;
  }
}

@media only screen and (min-width: 480px) {
  .section h1 {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 510px) {
  .section h1 {
    font-size: 4.25rem;
  }
}

@media only screen and (min-width: 540px) {
  .section h1 {
    font-size: 4.5rem;
  }
}

@media only screen and (min-width: 570px) {
  .section h1 {
    font-size: 4.75rem;
  }
}

@media only screen and (min-width: 600px) {
  .section h1 {
    font-size: 5rem;
  }
}

@media only screen and (min-width: 630px) {
  .section h1 {
    font-size: 5.25rem;
  }
}

@media only screen and (min-width: 660px) {
  .section h1 {
    font-size: 5.5rem;
  }
}

@media only screen and (min-width: 690px) {
  .section h1 {
    font-size: 5.75rem;
  }
}

@media only screen and (min-width: 720px) {
  .section h1 {
    font-size: 6rem;
  }
}

@media only screen and (min-width: 750px) {
  .section h1 {
    font-size: 6.25rem;
  }
}

@media only screen and (min-width: 780px) {
  .section h1 {
    font-size: 6.5rem;
  }
}

@media only screen and (min-width: 810px) {
  .section h1 {
    font-size: 6.75rem;
  }
}

@media only screen and (min-width: 840px) {
  .section h1 {
    font-size: 7rem;
  }
}

@media only screen and (min-width: 870px) {
  .section h1 {
    font-size: 7.25rem;
  }
}

@media only screen and (min-width: 900px) {
  .section h1 {
    font-size: 7.5rem;
  }
}

@media only screen and (min-width: 930px) {
  .section h1 {
    font-size: 7.75rem;
  }
}

@media only screen and (min-width: 960px) {
  .section h1 {
    font-size: 8rem;
  }
}

@media only screen and (max-width: 360px) {
  .section h1 {
    font-size: 3rem;
  }
}