/* Color schemes
 * *****************
 * dark = #313d4c
 * blue = #1bb8d1
 * yellow = #fcc018
 * pink = #e71a64
 */


html, body {
    height: 100%;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

header {
  background-image: url('../images/header_bg.jpg');
  background-size: cover;
  background-position: center bottom;
  /*background-attachment: fixed;*/
  padding: 30px;
  padding-top: 80px;
  color: white;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  min-height: 100%;
  position: relative;
  z-index: 0;
}

header .container {
  /*position: fixed;*/
  z-index: 1;
  left: 0;
  right: 0;
}

.section {
  /*position: relative;*/
  /*color: white;*/
  /*padding: 30px 0px;*/
  min-height: 100%;
  /*box-shadow: 0px -2px 50px rgba(0, 0, 0, 0.8);*/
}

.fixed {
  background-attachment: fixed;
  min-height: 100%;
  height: auto;
}

#learn {
  z-index: 2;
  /*color: #1BB8D1;*/
  color: white;
  background-color: #1BB8D1;
  background-size: cover;
  background-position: center;
  /*background-attachment: fixed;*/
  /*background-blend-mode: soft-light;*/
  /*background-image: url('../images/learn2.jpg');*/
}

#socialise {
  z-index: 4;
  /*color: #FCC018;*/
  color: white;
  background-color: #FCC018;
  background-size: cover;
  background-position: center;
  /*background-blend-mode: soft-light;*/
  /*background-attachment: fixed;*/
  /*background-image: url('../images/socialise.jpg');*/
}

#code {
  z-index: 6;
  /*color: #E71A64;*/
  color: white;
  background-color: #E71A64;
  background-size: cover;
  background-position: center;
  /*background-blend-mode: soft-light;*/
  /*background-attachment: fixed;*/
  /*background-image: url('../images/code1.jpg');*/
}

.navbar-csclub {
  /*background-color: #313d4c;*/
  /*background-color: rgba(255,255,255,0.03);*/
  /*background-color: rgba(49, 61, 76, 0.8);*/
  /*border: none !important;*/
  /*border-bottom: 1px solid rgba(255,255,255,0.1) !important;*/
  border-radius: 0px;
  margin-bottom: 0px;
  height: 80px;
}
.navbar-csclub .navbar-brand {
  color: white;
  display: none;
  /*color: #313d4c;*/
}
.navbar-csclub .navbar-brand:hover,
.navbar-csclub .navbar-brand:focus {
  color: #a2b0c3;
  background-color: transparent;
}
.navbar-csclub .navbar-text {
  color: white;
}
.navbar-csclub .navbar-nav {
  float: right;
}
.navbar-csclub .navbar-nav > li > a {
  color: white;
  /*color: #e7e7e7;*/
  /*color: #313d4c;*/
}
.navbar-csclub .navbar-nav > li > a:hover,
.navbar-csclub .navbar-nav > li > a:focus {
  /*background-color: rgba(255,255,255,0.05);*/
  border-bottom: 4px solid rgba(255,255,255,0.1);
  background: none;
}
.navbar-csclub .navbar-nav > .active > a,
.navbar-csclub .navbar-nav > .active > a:hover,
.navbar-csclub .navbar-nav > .active > a:focus {
  color: white;
  /*color: #e7e7e7;*/
  /*background-color: rgba(255,255,255,0.1);*/
  border-bottom: 4px solid rgba(255,255,255,0.3);
}
.navbar-csclub .navbar-nav > .disabled > a,
.navbar-csclub .navbar-nav > .disabled > a:hover,
.navbar-csclub .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-csclub .navbar-toggle {
  /*border-color: #ddd;*/
}
.navbar-csclub .navbar-toggle:hover,
.navbar-csclub .navbar-toggle:focus {
  background-color: rgba(255,255,255,0.2);
}
.navbar-csclub .navbar-toggle .icon-bar {
  background-color: #e7e7e7;
}
.navbar-csclub .navbar-collapse,
.navbar-csclub .navbar-form {
  border-color: #e7e7e7;
}
.navbar-csclub .navbar-nav > .open > a,
.navbar-csclub .navbar-nav > .open > a:hover,
.navbar-csclub .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  #csclub-navbar-collapse {
    border: none;
    background: #313d4c;
    position: fixed;
    top: 79px;
    left: 0;
    right: 0;
  }
  .navbar-csclub .navbar-nav {
    float: none;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }
  .navbar-csclub .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
    border-bottom: none;
  }
  .navbar-csclub .navbar-nav > li > a:hover,
  .navbar-csclub .navbar-nav > li > a:focus {
    background-color: rgba(255,255,255,0.1);
    border: none;
  }
  .navbar-csclub .navbar-nav .active > a,
  .navbar-csclub .navbar-nav .active > a:hover,
  .navbar-csclub .navbar-nav .active > a:focus {
    background-color: rgba(255,255,255,0.2);
    border: none;
  }
  .navbar-csclub .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-csclub .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-csclub .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-csclub .navbar-link {
  color: #777;
}
.navbar-csclub .navbar-link:hover {
  color: #333;
}
.navbar-csclub .btn-link {
  color: #777;
}
.navbar-csclub .btn-link:hover,
.navbar-csclub .btn-link:focus {
  color: #333;
}
.navbar-csclub .btn-link[disabled]:hover,
fieldset[disabled] .navbar-csclub .btn-link:hover,
.navbar-csclub .btn-link[disabled]:focus,
fieldset[disabled] .navbar-csclub .btn-link:focus {
  color: #ccc;
}