<footer>
    <div class="container">
        <div class="row">
            <div class="col s12 m8">
                <h5>Computer Science Club</h5>
                <p>The University of Adelaide</p>
                <p>
                    <a href="/">Home</a> | <a href="/about">About</a> | <a href="/join">Join</a> | <a href="/contact">Contact</a>
                </p>
            </div>
            <div class="col s12 m4">
                <div class="search-wrapper card">
                    <input class="search" placeholder="Search">
                    <i class="material-icons">search</i>
                    <div class="search-results card"></div>
                </div>
                <div>
                    Connect with us
                    <div class="social-icons">
                        <a href="https://www.facebook.com/compsci.adl/" target="_blank">
                            <i class="fa fa-facebook-official"></i>
                        </a>
                        <a href="https://twitter.com/CompSciAdl" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://github.com/compsci-adl" target="_blank">
                            <i class="fa fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p>&copy; 2017 Computer Science Club. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<!-- JS plugins and individual files -->
<script src="/js/csclub.materialize-v1.0.js"></script>
<script src="/js/lunr.min.js"></script>
<script src="/js/search.js"></script>
<!-- CS Club js -->
<script src="/js/csclub.common.js"></script>
<script src="/js/csclub.about.js"></script>
